/* _static/style.css */
body {
  font-family: "Georgia", serif;
  background-color: #ffffff;
  color: #222;
  max-width: 960px;
  margin: auto;
  padding: 2em;
}

h1, h2, h3 {
  color: #003366;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
}

a {
  color: #006699;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
